/* Start Variabels */
:root{
    --main-color:#005aa6;
    --section-background:#f6f6f6;
    --section-padding:60px;
    --main-durachen:0.3s
}
/* End Variabels */
/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* body {
    font-family: 'Cairo', sans-serif;
} */
ul{
    list-style: none;
}
 a{
    text-decoration: none;
} 
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto ;
    margin-right: auto;
}

/* Small */
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}
/* Medium */
@media (min-width:992px) {
    .container{
        width: 970px;
    }
}
/* Large */
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
/* End Global Rules */


/* Start header */
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 40px;
}
.header .links{
    position: relative;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links .icon{
    width: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    width: 100%;
    height: 2px;
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition: var(--main-durachen);
}
.header .links ul{
    margin: 0;
    padding: 0;
    background-color: var(--section-background);
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    border-radius: 3px;
    z-index: 1;
    text-align: right;
    display: none;
}
.header .links:hover ul{
    display: block;
}
.header .links ul::before{
    content: "";
    content: "";
    position: absolute;
    bottom: 100%;
    right: 5px;
    border: 10px solid;
    border-color: transparent transparent var(--section-background);
}
.header .links ul li a{
    display: block;
    padding: 15px;
    color: #333;
    transition: var(--main-durachen);
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;

}
.header .aboutUsp{
    display: none;
    top: 120px;
    max-width: calc(100% - 20px);
    position: fixed;
    right: 10px;
    font-size: 25px;
    color: #010b5d;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
}
.header .aboutUs:hover .aboutUsp{
    background-color: #ddd;
    display: block;
}
/* End header */



/* Start Table */
.dsTbl{
    text-align: center;
    font-size: 33px;
    background-color: red;
    padding: 15px;
    color: white;
    margin: 37px 0 20px;
}
table{
    width: 100%;
    font-size: 18px;
    border-spacing: 0px;
    margin-bottom: 50px;
    text-align: center;
    background-color: #f2f2f2;
}
table td ,table th{
    text-align: center;
    display: inline-flex;
    align-items: center;
    width: 33%;
    padding: 7px;
    height: 60px;
    border: 1px solid #777;
    overflow: auto;
}
table th {
    justify-content: center;
}
table td  a{
    margin-left: auto;
}
/* End Tible */

/* Start Footer */
/* .footer{
    background: var(--main-color);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 25px;
    padding: 14px;
}
.footer a{
    color: white;
}
@media (max-width:768px) {
    .footer{
        font-size: 23px;
        padding: 9px;
    }
} */

/* End Footer */